@model LimonDijital.Entities.LimonReference

@{
    ViewBag.Title = "Referans Düzenle";
}


<link href="~/Content/validation-summary.css" rel="stylesheet" />

<!-- Page Heading -->
<div class="row">
	<div class="col-lg-12">
		<h1 class="page-header">
			Referans Düzenle
		</h1>
		<ol class="breadcrumb">
			<li>
				<i class="fa fa-handshake-o"></i>  <a href="/Admin/Reference">Referanslar</a>
			</li>
			<li class="active">
				<i class="fa fa-edit"></i> Referans Düzenle
			</li>
		</ol>
	</div>
</div>
<!-- /.row -->

<div class="row">
	<div class="col-sm-6 col-sm-offset-1">
		@using (Html.BeginForm("Edit", "Reference", FormMethod.Post, new { enctype = "multipart/form-data" }))
		{
			@Html.AntiForgeryToken()

			<div class="form-horizontal">
				@Html.ValidationSummary(false, null, htmlAttributes: new { @class = "col-md-offset-3 col-md-9" })

				<div class="form-group">
					<div class="col-sm-10 col-sm-offset-3">
						<img src="@Url.Content("~/images/"+Model.ReferencesImageFilename)" height="150" width="150" />
						@Html.HiddenFor(model => Model.ReferencesImageFilename)
					</div>
					<label class="control-label col-md-3">Resim</label>
					<div class="col-md-9">
						<input type="file" name="ReferenceImage" id="ReferenceImage" class="form-control" /><br />
						<span class="glyphicon glyphicon-info-sign">&nbsp;</span>
						<span><i>Lütfen jpg, jpeg yada png formatı kullanın.</i></span>
					</div>
				</div>

				<div class="form-group">
					@Html.LabelFor(model => model.Name, htmlAttributes: new { @class = "control-label col-md-3" })
					<div class="col-md-9">
						@Html.EditorFor(model => model.Name, new { htmlAttributes = new { @class = "form-control" } })
					</div>
				</div>

				<div class="form-group">
					<div class="col-sm-offset-3 col-sm-9">
						@Bootstrap.Button("success", "", "submit", "floppy-o", " Kaydet")
						@Bootstrap.LinkButton("/Admin/Reference", "default", "", "Back to list", "arrow-left", " Listeye Geri Dön")
					</div>
				</div>
			</div>
		}
	</div>
</div>